.cover-header .cover-title,
.section-header {
  font-family: "Elegant";
}

.and-separator {
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}

.box {
  background-color: #e3735e;
  background-image: radial-gradient(#eeaea3 0.5px, #e78878 0.5px);
  background-size: 10px 10px;
  // height: 100rem;
}

.box *,
.secondary-nav * {
  color: white;
}

.cover-image {
  background-image: url("../assets/images/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  // min-height: 40rem;
}

.mobile-cover-image {
  background-image: url("../assets/images/cover.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}
