.cover-header .cover-title,
.section-header {
  font-family: "Elegant";
}

.cover-title {
  letter-spacing: 0.25rem;
  font-weight: 900;
}

.and-separator {
  font-weight: 1;
  font-size: 10rem;
  font-family: "Signature";
  letter-spacing: normal !important;
}

.box {
  background-color: white;
  // border: 1px solid #e0e0e0;
}

.box *,
.secondary-nav * {
  color: #1e1e1e;
}

.cover-image {
  background-image: url("../assets/images/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  // min-height: 40rem;
}

.mobile-cover-image {
  background-image: url("../assets/images/cover.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}

.rsvp {
  // button {
  //   cursor: pointer;
  //   transition: 0.5s;
  //   .r {
  //     margin-left: 1.25rem;
  //   }
  //   .rarr {
  //     opacity: 0;
  //   }
  // }

  button:hover {
    width: 100%;
    transition: 0.5s;
  }

  button:not(:hover) {
    width: 8rem;
    transition: 0.5s;
  }
}

.the-divider {
  margin-top: 2rem;
  border: 1px solid #1e1e1e;
  width: 50%;
}
