/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Elegant";
  src: url("assets/fonts/Allura-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poiret";
  src: url("assets/fonts/PoiretOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Poiret";
}

.accent {
  color: #e3735e;
}

.bg-accent {
  background-color: #e3735e;
}
