/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Elegant";
  src: url("assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Poiret";
  src: url("assets/fonts/PoiretOne-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Signature";
  src: url("assets/fonts/Quick\ Signature\ Personal\ Use.otf")
    format("truetype");
}

* {
  font-family: "Elegant";
}
